<html>
<head>
<title>
FAQit Web App Chat
</title>
<link rel="stylesheet" type="text/css" href="Style/style.css">
</head>
<body>
<h1>FAQit Chat Client</h1>
<hr>
<p>
{{user}}'s Chat History With: {{student}}
</p>

<div class="chatArea">
    {% for message in messages %}
        {% if message.getSender().getaType() == "i" %}
            {% if message.getReceiver().getName() == student or message.getReceiver().getName() == user%}
                <div class="iMessage">
                <div class="messageMeta"> {{message.getSender().getName()}}</div>
                <hr>{{message.getContent()}}<hr>
                <div class="messageMeta">{{message.getTime().month}} {{message.getTime().day}}, {{message.getTime().year}}<br>
                {{message.getTime().hour}}:{{message.getTime().minute}}</div>
                </div>
            {% endif %}
        {% endif %}

        {% if message.getSender().getaType() == "s" %}
           {% if message.getSender().getName() == user or message.getSender().getName() == student%}
                <div class="sMessage">
                <div class="messageMeta"> {{message.getSender().getName()}}</div>
                <hr>{{message.getContent()}}<hr>
                <div class="messageMeta">{{message.getTime().month}} {{message.getTime().day}}, {{message.getTime().year}}<br>
                {{message.getTime().hour}}:{{message.getTime().minute}}</div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>

<p>
<form action="chat" method="post">
<textarea name="message" placeholder="Ask New Question">
</textarea><br>
<input type="submit" value="Send"/>
</form>

<form action="instructorcenter" method="get">
<input type="submit" value="Back"/>
</form>

<hr>
</p>

</body>
</html>
