<!DOCTYPE html>
<html>    
<head>
<link rel="stylesheet" type="text/css" href="style/style.css">
<title>FAQit Message Center</title>
</head>

<body>
<h1>FAQit Messaging Client</h1>
<h3>Hello, {{user}}!</h3>

{% for item in userList %}
    {% if item.getaType() == "i" and item.getName() == user%}
        Which user would you like to converse with:
        
        <form action="messcenter" method="post">
        {% for student in userList %}
            {% if student.getName() != user%}
                <input type="radio" name="studentName" value={{student.getName()}} required> {{student.getName()}}<br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

<form action"messcenter" method="post">
    <input type ="submit" value ="Go To Chat">
</form>
<form action="faq" method="get">
    <input type="submit" value ="Go To FAQ">
</form>
</body>
</html>
